<style type="text/css">
    .table th,.table td{ border:1px solid #ddd;}
    .form-group{ margin-left: 10px; margin-top: 10px;}
    .form-control{ display: inline-block; vertical-align: middle;}
    .tableListTh{
    	width: 14%;
    	white-space: nowrap;
    }
    .channelTd{
    	width: 14%;
    	white-space: nowrap;
    }
</style>
<div>
    <div>
        <div class="form-group">
            <div class="div_select">
                
            </div>
            <div datepicker format="yyyy-MM-dd"  class="col-xs-3 timeSelect" mstatdate="mstatdate" style="width:350px;"></div>
           <!--  <label for="">游戏：</label>
            <select ng-model="postData.gameid" class="form-control" ng-options="data.id as data.name for data in panel_1.gameList"  ng-change="getChannelList()">
			</select>
			<label for="">系统：</label>
            <select ng-model="postData.systemid" class="form-control" ng-options="data.id as data.name for data in panel_1.systemList">
            </select>&nbsp;&nbsp;
             -->
            <a class="btn btn-default" ng-click="getData()" >{{'查询' | translate}}</a>
        </div>
    </div>
	<div class="panel panel-default panel_1">
		<div class="panel-heading">
			<strong class="fl">
				{{'渠道数据' | translate}}
				<div tipsmsg></div>
				<!--------提示框----------->
			</strong>
		<!--------tab选择按钮----------->
			<div class="panel_downloadBtn"  down-file down-file-url="sdkdata/exportSDKBrowseSummary.action" 
					down-file-type="xlsx" down-file-name="浏览统计{{mstatdate}}" savedata="" postdata="postData" ></div>
			<!--------下载按钮----------->
			<div class="clear"></div>
		</div>
		<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh">
							<strong title="">{{'日期' | translate}}</strong>
							<div tipsmsg></div>
						</span>
						<span class="tableListTh">
							<strong title="">{{'主界面' | translate}}ID</strong>
							<div tipsmsg></div>
						</span>
						<span class="tableListTh">
							<strong title="">{{'界面名称' | translate}}</strong>
							<div tipsmsg></div>
						</span>
						<span class="tableListTh">
							<strong title="">{{'浏览量' | translate}}</strong>
							<div tipsmsg></div>
						</span>
						<span class="tableListTh">
							<strong title="">{{'账号数' | translate}}</strong>
							<div tipsmsg></div>
						</span>
						<span class="tableListTh">
							<strong title="">{{'占比' | translate}}(%)</strong>
							<div tipsmsg></div>
						</span>
						<span class="tableListTh">
							<strong ng-click="expandDetail()">{{'详情' | translate}}</strong>
							<div tipsmsg></div>
						</span>
					</li>
					<li class="tableListLi clear" ng-repeat="data in panel_1.dataList_1.data | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd">
								{{data.statdate}}
							</span>
							<span class="channelTd">
								{{data.category_id}}
							</span>
							<span class="channelTd">
								{{data.category_name}}
							</span>
							<span class="channelTd">
								{{data.pv}}
							</span>
							<span class="channelTd">
								{{data.uv}}
							</span>
							<span class="channelTd">
								{{data.pv_uv_rate}}
							</span>
							<!-- <span class="channelTd">
								<div class="ProgressBar rela"><span style="width:{{data.rate}}%"></span><font>{{data.rate}}%</font></div>
						</span> -->
							<span class="channelTd show_panel_btn">
								<p ng-click="showPanel(data)" ng-show="!data.show_panel">{{'详情' | translate}}</p>
								<p ng-click="data.show_panel=false;" ng-show="data.show_panel">{{'收起' | translate}}</p>
							</span>
						</div>
					<div class="showData">
					<div class="panel-body table" >
					<div class="panel-showData">
						<div class="dataList dataList2 dataList_1 dataListAct">
							<div class="dataGraph">
							</div>
							<div class="dataTable">
								<table class="table table-bordered text-center">
									<tr class="tableTr">
										<th width='8%' ng-click="changeOrderBy(data,'statdate')">{{'日期' | translate}}</th>
										<th width='8%' ng-click="changeOrderBy(data,'page_id')">{{'界面' | translate}}ID</th>
										<th width='8%' ng-click="changeOrderBy(data,'page_name')">{{'界面名称' | translate}}</th>
										<th width='8%' ng-click="changeOrderBy(data,'pv')">{{'浏览量' | translate}}</th>
										<th width='8%' ng-click="changeOrderBy(data,'pv_rate')">{{'浏览占比' | translate}}(%)</th>
										<th width='8%' ng-click="changeOrderBy(data,'uv')">{{'账号数' | translate}}</th>
										<th width='8%' ng-click="changeOrderBy(data,'uv_rate')">{{'账号占比' | translate}}(%)</th>
										<th width='8%' ng-click="changeOrderBy(data,'pv_uv_rate')">{{'占比' | translate}}(%)</th>
									</tr>
									<tr ng-repeat="value in data.details | orderBy: data.orderBy.t+data.orderBy.s | pageStartFrom : data.limit.now*data.limit.max | limitTo: data.limit.max">
										
										<td>{{value.statdate}}</td>
										<td>{{value.page_id}}</td>
										<td>{{value.page_name}}</td>
										<td>{{value.pv}}</td>
										<td>{{value.pv_rate}}</td>
										<td>{{value.uv}}</td>
										<td>{{value.uv_rate}}</td>
										<td>{{value.pv_uv_rate}}</td>
									</tr>
								</table>
								<div class="tableLimit" tablelimit datalimit="data.limit"  index="0" tabledata="data.trend.devices">
								</div>
							</div>
						</div>
                    </div>
					</div>
					</div>
				</li>
				</ul>
				<div class="tableFooter">
					<div class="buttondiv fl" analysisdrop changei="changetype()">
						<div class="selectlable fl">{{'每页显示' | translate}}：</div>
						<div class="analysisdrop fl" style="width:60px;">
							<div class="hadchoose">
								<h6>{{val | translate}}</h6></div>
							<ul class="dropUl">
								<li ng-click="c('10');changetype(10)">10</li>
								<li ng-click="c('20');changetype(20)">20</li>
								<li ng-click="c('50');changetype(50)">50</li>
								<li ng-click="c('100');changetype(100)">100</li>
							</ul>
						</div>
						<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
					</div>
					<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data"  datachange="panel_1_change"></div>
				</div>
			</div>
		</div>
	</div>
</div>