<style>
    .wallScroll{max-height: 100px;overflow-y: auto;}
    label{cursor: pointer;}
</style>
<div>
    <div>
        <div class="form-group">
            <label for="">{{'游戏' | translate}}:</label>
            <!-- <select name="" id="" class="form-control" ng-model="gameid" ng-options="o.id as o.name for o in gameList" >
                
            </select> -->
             <div class="inlineBlock" style="width:200px;">
            			<ui-select ng-model="postData.gameid" theme="bootstrap">
            				<ui-select-match placeholder="搜索游戏">{{$select.selected.name}}</ui-select-match>
                			<ui-select-choices repeat="item.id as item in  gameList | filter: $select.search">
                				<div ng-bind="item.name | highlight: $select.search"></div>
                		</ui-select-choices>
            			</ui-select>
            </div>
            <button class="btn btn-default" ng-click="getAllData()">{{'搜索' | translate}}</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-default" ui-sref="main.config.gameversionModify({ctype:1})">{{'添加版本' | translate}}</button>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default panel_1">
            <div class="panel-heading">
                <strong>
				{{'游戏版本列表' | translate}}
				<!--------提示框----------->
			</strong>
                <!--------下载按钮--------- -->
                <div class="panel_downloadBtn"  down-file down-file-url="channel/exportGameChannel.action" down-file-type="xlsx" down-file-name="游戏版本列表{{mstatdate}}" savedata="" postdata="postData" ></div>
                <div class="clear"></div>
            </div>
            
            <div class="panel-body pdlf pdtb">
                <div class="tableBox">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th class="text-center" width="20%">{{'游戏' | translate}}</th>
                            <th class="text-center" width="20%">{{'版本' | translate}}</th>
                            <th class="text-center" width="20%">{{'操作' | translate}}</th>
                        </tr>
                        <tr ng-repeat="data in versionData  | orderBy: panel_1.dataList_1.orderBy.t+panel_1.dataList_1.orderBy.s | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max" class="text-center">
                            <td>{{data.gameName}}</td>
                            <td>{{data.version_name}}</td>
                            <td>
                                <a href="" ng-click="delVersion(data.version_id,data.version_name)"  >{{'删除' | translate}}</a>
                            </td>
                        </tr>
                    </table>
                    <div class="tableFooter">
                        <div class="buttondiv fl" analysisdrop changei="changetype()">
                            <div class="selectlable fl">{{'每页显示' | translate}}：</div>
                            <div class="analysisdrop fl" style="width:60px;">
                                <div class="hadchoose">
                                    <h6>{{val | translate}}</h6></div>
                                <ul class="dropUl">
                                    <li ng-click="c('10');changetype(10)">10</li>
                                    <li ng-click="c('20');changetype(20)">20</li>
                                    <li ng-click="c('50');changetype(50)">50</li>
                                    <li ng-click="c('100');changetype(100)">100</li>
                                </ul>
                            </div>
                            <div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
                        </div>
                        <div class="dataTables_paginate fr" datatableslimit  datalimit="panel_1.dataList_1.limit"  tabledata="versionData"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>