<div>
	<div>
		<div class="form-group">
			<label for="">{{'权限名' | translate}}:</label>
			<input type="text" class="form-control" placeholder="权限名" ng-model="searchData.name">&nbsp;&nbsp;
			<!-- <button class="btn btn-default" ng-click="getAllData()">搜索</button> -->
			<a class="btn btn-default" ui-sref="main.user.permissionModif({ctype: 1})">{{'添加权限' | translate}}</a>
		</div>
	</div>
	<div class="panel panel-default panel_1">
		<div class="panel-heading">
			<strong>
				{{'权限列表' | translate}}
				<!--------提示框----------->
			</strong>
			<div class="panel_downloadBtn" ng-click="mdownloaddata('avgGameTime')"></div>
			<!--------下载按钮----------->
			<div class="clear"></div>
		</div>
		<div class="<panel-bo></panel-bo>dy pdlf pdtb">
			<div class="tableBox">
				<table class="table table-striped">
					<tr>
						<th class="text-center" width="15%">Key</th>
						<th class="text-center" width="15%">{{'权限名' | translate}}</th>
						<th class="text-center" width="15%">actKey</th>
						<th class="text-center" width="15%">url</th>
						<th class="text-center" width="15%">{{'鉴权字串' | translate}}</th>
						<th class="text-center" width="15%">{{'操作' | translate}}</th>
					</tr>
					<tr ng-repeat="data in panel_1.dataList_1.data  | filter:searchData.name | orderBy: panel_1.dataList_1.orderBy.t+panel_1.dataList_1.orderBy.s | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max" class="text-center">
						<td>{{data.key}}</td>
						<td>{{data.name}}</td>
						<td>{{data.actkey}}</td>
						<td>{{data.url}}</td>
						<td>{{data.permission}}</td>
						<td>
							<a href="javascript:;" ui-sref="main.user.permissionModif({ctype: 2, id: data.id})">{{'修改' | translate}}</a>
							<a href="javascript:;" ng-click="delPermission(data.id, data.name)">{{'删除' | translate}}</a>
						</td>
					</tr>
				</table>
				<div class="tableFooter">
					<div class="buttondiv fl" analysisdrop changei="changetype()">
						<div class="selectlable fl">{{'每页显示' | translate}}：</div>
						<div class="analysisdrop fl" style="width:60px;">
							<div class="hadchoose">
								<h6>{{val | translate}}</h6></div>
							<ul class="dropUl">
								<li ng-click="c('10');changetype(10)">10</li>
								<li ng-click="c('20');changetype(20)">20</li>
								<li ng-click="c('50');changetype(50)">50</li>
								<li ng-click="c('100');changetype(100)">100</li>
							</ul>
						</div>
						<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
					</div>
					<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data"></div>
				</div>
			</div>
		</div>
	</div>
</div>