<style type="text/css">
    .table th,.table td{ border:1px solid #ddd;}
    .form-group{ margin-left: 10px; margin-top: 10px;}
    .form-control{ display: inline-block; vertical-align: middle;}
    .tableListTh{
    	white-space: nowrap;
    	text-align:center;
    }
    .tableListThOnline{
    line-height:1;
    width:4.54%;
    vertical-align:middle;
    min-width: 73px;
    }
    .tableListLogin{
    line-height:1;
   	width:8.3%;
    vertical-align:middle;
    }
    .channelTd{
    	white-space: nowrap;
    	text-align:center;
    }
    .channelTdOnline{
    	width:4.54%;
    	min-width: 73px;
    }
    .channelTdLogin{
    	width:8.3%;
    }
    .form-group .form-member{
    float: left;
    }
    .form-group .member-control{
   	margin-left: 10px;
    }
</style>
<div>
	 <div>
	        <div class="form-group">
	            <label for="">{{'查询区服' | translate}}：</label>
	            <select ng-model="postData.areaid" class="form-control" ng-options="data.id as data.name for data in gameAreaList">
	            </select>
	        </div>
			<div class="form-group">
				<div class="form-member">
					<label for="startDate">{{'起始日期' | translate}}: </label>
					<input type="text" id="startDate" class="form-control" placeholder="{{o.startDate}}" uib-datepicker-popup="{{format}}" ng-model="o.startDate" is-open="o.opened1" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="o.opened1=!o.opened1" />
				</div>
				<div class="form-member member-control">
					<label for="endDate">{{'结束日期' | translate}}: </label>
					<input type="text" id="endDate" class="form-control" placeholder="{{o.endDate}}" uib-datepicker-popup="{{format}}" ng-model="o.endDate" is-open="o.opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="o.opened2=!o.opened2" />
				</div>
				&nbsp;&nbsp;
				<button class="btn btn-default" ng-click="getAllData()">{{'查询' | translate}}</button>
			</div>
	</div>
	<div class="clear"></div>
		<!--------tab选择按钮----------->
	<div class="panel panel-default panel_1">
			<div class="panel-heading">
			<strong>{{'在线时长' | translate}}</strong>
				<div class="panel_downloadBtn"  down-file down-file-url="yhSummary/exportYhOnlineStatList.action" down-file-type="xlsx" down-file-name="在线时长{{mstatdate}}" savedata="" postdata="postData" ></div>
				<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh tableListThOnline">
							<strong title="">{{'日期' | translate}}<br/></strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">{{'渠道' | translate}}<br/></strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">0~9min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">0~9min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">10~19min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">10~19min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">20~29min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">20~29min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">30~59min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">30~59min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">60~89min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">60~89min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline" >
							<strong title="">90~119min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">90~119min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">120~149min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">120~149min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">150~179min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">150~179min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">180~240min<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">180~240min<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">240min以上<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListThOnline">
							<strong title="">240min以上<br/>{{'占比' | translate}}</strong>
						</span>
					</li>
					<li class="tableListLi clear" ng-repeat="data in panel_1.dataList_1.data | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd channelTdOnline">
								{{data.statdate}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.channelName}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_0to9User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_0to9UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_10to19User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_10to19UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_20to29User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_20to29UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_30to59User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_30to59UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_60to89User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_60to89UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_90to119User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_90to119UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_120to149User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_120to149UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_150to179User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_150to179UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_180to239User}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_180to239UserRate}}%
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_240toUser}}
							</span>
							<span class="channelTd channelTdOnline">
								{{data.minutes_240toUserRate}}%
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetype(10)">10</li>
									<li ng-click="c('20');changetype(20)">20</li>
									<li ng-click="c('50');changetype(50)">50</li>
									<li ng-click="c('100');changetype(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data"  datachange="panel_1_change"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default panel_2">
			<div class="panel-heading">
			<strong>{{'登入次数' | translate}}</strong>
				<div class="panel_downloadBtn"  down-file down-file-url="yhSummary/exportYhLoginTimesList.action" down-file-type="xlsx" down-file-name="登入次数{{mstatdate}}" savedata="" postdata="postData" ></div>
				<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh tableListLogin" >
							<strong title="">{{'日期' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin" >
							<strong title="">{{'渠道' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">0{{'次' | translate}}<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">0{{'次' | translate}}<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin" >
							<strong title="">1-2{{'次' | translate}}<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">1-2{'次占比' | translate}}<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">3-5{{'次' | translate}}<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">3-5{{'次' | translate}}<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">6-10{{'次' | translate}}<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">6-10{{'次' | translate}}<br/>{{'占比' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">11{{'次以上' | translate}}<br/>{{'用户数量' | translate}}</strong>
						</span>
						<span class="tableListTh tableListLogin">
							<strong title="">11{{'次以上' | translate}}<br/>{{'占比' | translate}}</strong>
						</span>
						
					</li>
					<li class="tableListLi clear" ng-repeat="data in panel_2.dataList_1.data | pageStartFrom : panel_2.dataList_1.limit.now*panel_2.dataList_1.limit.max | limitTo: panel_2.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd channelTdLogin" >
								{{data.statdate}}
							</span>
							<span class="channelTd channelTdLogin">
								{{data.channelName}}
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes0User}}
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes0UserRate}}%
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes1to2User}}
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes1to2UserRate}}%
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes3to5User}}
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes3to5UserRate}}%
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes6to10User}}
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes6to10UserRate}}%
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes11toUser}}
							</span>
							<span class="channelTd channelTdLogin">
								{{data.loginTimes11toUserRate}}%
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype2()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetype2(10)">10</li>
									<li ng-click="c('20');changetype2(20)">20</li>
									<li ng-click="c('50');changetype2(50)">50</li>
									<li ng-click="c('100');changetype2(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_2.dataList_1.limit"  tabledata="panel_2.dataList_1.data"  datachange="panel_2_change"></div>
				</div>
			</div>
		</div>
	</div>
	
</div>