<style type="text/css">
    .table th,.table td{ border:1px solid #ddd;}
    .form-group{ margin-left: 10px; margin-top: 10px;}
    .form-control{ display: inline-block; vertical-align: middle;}
    .tableListTh{
    	white-space: nowrap;
    	text-align:center;
    }
    .channelTd{
    	white-space: nowrap;
    	text-align:center;
    }
</style>
<div>
	<div class="maintop">
		<div datepicker format="yyyy-MM-dd" class="col-xs-3 timeSelect" mstatdate="mstatdate">
		</div>
		<!--------日期选择控件----------->
		
		<div selectChoose class="selectChoose">
		</div>
		<!--------渠道区服选择控件----------->
		<div class="clear"></div>
		<div class="panel-selectChoose" callbackchannelqf ng-show="iscallback">
		</div>
		<!--------已选择渠道区服显示----------->
	</div>	
	<div class="clear"></div>
		<!--------tab选择按钮----------->
	<div class="panel panel-default panel_1">
			<div class="panel-heading">
			<strong>{{'活跃度' | translate}}</strong>
			<div class="panel_downloadBtn"  down-file down-file-url="summary/exportActiveList.action" down-file-type="xlsx" down-file-name="活跃度{{mstatdate}}" savedata="" postdata="searchData" ></div>
			<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh" style="width:20%" ng-click="changeOrderBy(panel_1.dataList_1,'statdate')">
							<strong title="">{{'日期' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:20%" ng-click="changeOrderBy(panel_1.dataList_1,'channelName')">
							<strong title="">{{'渠道' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:20%" ng-click="changeOrderBy(panel_1.dataList_1,'activeScore')">
							<strong title="">{{'活跃度分数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:20%" ng-click="changeOrderBy(panel_1.dataList_1,'cnt')">
							<strong title="">{{'达到该分数的玩家数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:20%" ng-click="changeOrderBy(panel_1.dataList_1,'rate')">
							<strong title="">{{'人数占比' | translate}}</strong>
						</span>
					</li>
					
					<li class="tableListLi clear" ng-repeat="data in panel_1.dataList_1.data | orderBy: panel_1.dataList_1.orderBy.t+panel_1.dataList_1.orderBy.s | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd" style="width:20%" >
								{{data.statdate}}
							</span>
							<span class="channelTd" style="width:20%">
								{{data.channelName}}
							</span>
							<span class="channelTd" style="width:20%">
								{{data.activeScore}}
							</span>
							<span class="channelTd" style="width:20%">
								{{data.cnt}}
							</span>
							<span class="channelTd" style="width:20%">
								{{data.rate}}%
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetype(10)">10</li>
									<li ng-click="c('20');changetype(20)">20</li>
									<li ng-click="c('50');changetype(50)">50</li>
									<li ng-click="c('100');changetype(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data"  datachange="panel_1_change"></div>
				</div>
			</div>
		</div>
	</div>
	<!--  秘境统计-->
	<div class="panel panel-default panel_2">
			<div class="panel-heading">
			<strong>{{'秘境统计' | translate}}</strong>
			<div class="panel_downloadBtn"  down-file down-file-url="summary/exportFamSummaryList.action" down-file-type="xlsx" down-file-name="秘境统计{{mstatdate}}" savedata="" postdata="searchData" ></div>
			<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_2.dataList_1,'statdate')">
							<strong title="">{{'日期' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'channelName')">
							<strong title="">{{'渠道' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'mjId')">
							<strong title="">{{'秘境' | translate}}Id</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'mjName')">
							<strong title="">{{'秘境名称' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'enterTimes')">
							<strong title="">{{'进入秘境次数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'enterCnt')">
							<strong title="">{{'进入秘境人数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'avgEnterTimes')">
							<strong title="">{{'人均进入秘境次数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'succdCnt')">
							<strong title="">{{'通关秘境人数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'avgTime')">
							<strong title="">{{'平均通关用时' | translate}}(s)</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'failCnt')">
							<strong title="">{{'失败人次' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_2.dataList_1,'exitCnt')">
							<strong title="">{{'中途退出人次' | translate}}</strong>
						</span>
					</li>
					
					<li class="tableListLi clear" ng-repeat="data in panel_2.dataList_1.data | orderBy: panel_2.dataList_1.orderBy.t+panel_2.dataList_1.orderBy.s | pageStartFrom : panel_2.dataList_1.limit.now*panel_2.dataList_1.limit.max | limitTo: panel_2.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd" style="width:10%" >
								{{data.statdate}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.channelName}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.mjId}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.mjName}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.enterTimes}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.enterCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.avgEnterTimes}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.succdCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.avgTime}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.failCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.exitCnt}}
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype2()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetyp2(10)">10</li>
									<li ng-click="c('20');changetype2(20)">20</li>
									<li ng-click="c('50');changetype2(50)">50</li>
									<li ng-click="c('100');changetype2(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_2.dataList_1.limit"  tabledata="panel_2.dataList_1.data"  datachange="panel_2_change"></div>
				</div>
			</div>
		</div>
	</div>
	<!--  封魔团-->
	<div class="panel panel-default panel_3">
			<div class="panel-heading">
			<strong>{{'封魔团' | translate}}</strong>
			<div class="panel_downloadBtn"  down-file down-file-url="summary/exportSyFengMoTuanList.action" down-file-type="xlsx" down-file-name="封魔团{{mstatdate}}" savedata="" postdata="searchData" ></div>
			<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_3.dataList_1,'statdate')">
							<strong title="">{{'日期' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'channelName')">
							<strong title="">{{'渠道' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'syName')">
							<strong title="">{{'圣域名称' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'startCnt')">
							<strong title="">{{'开启战斗数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'succtCnt')">
							<strong title="">{{'通关战斗数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'avgStartCnt')">
							<strong title="">{{'人均开启战斗数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'avgTime')">
							<strong title="">{{'平均通关用时' | translate}}(s)</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'userCnt')">
							<strong title="">{{'参与玩家数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'usuccCnt')">
							<strong title="">{{'通关玩家数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'ufailCnt')">
							<strong title="">{{'失败玩家数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:9%" ng-click="changeOrderBy(panel_3.dataList_1,'uexitCnt')">
							<strong title="">{{'中途退出玩家数' | translate}}</strong>
						</span>
					</li>
					
					<li class="tableListLi clear" ng-repeat="data in panel_3.dataList_1.data | orderBy: panel_3.dataList_1.orderBy.t+panel_3.dataList_1.orderBy.s | pageStartFrom : panel_3.dataList_1.limit.now*panel_3.dataList_1.limit.max | limitTo: panel_3.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd" style="width:10%" >
								{{data.statdate}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.channelName}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.syName}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.startCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.succtCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.avgStartCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.avgTime}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.userCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.usuccCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.ufailCnt}}
							</span>
							<span class="channelTd" style="width:9%">
								{{data.uexitCnt}}
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype3()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetype3(10)">10</li>
									<li ng-click="c('20');changetype3(20)">20</li>
									<li ng-click="c('50');changetype3(50)">50</li>
									<li ng-click="c('100');changetype3(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_3.dataList_1.limit"  tabledata="panel_3.dataList_1.data"  datachange="panel_3_change"></div>
				</div>
			</div>
		</div>
	</div>
	<!--  爵位战-->
	<div class="panel panel-default panel_4">
			<div class="panel-heading">
			<strong>{{'爵位战' | translate}}</strong>
			<div class="panel_downloadBtn"  down-file down-file-url="summary/exportSyJueWeiList.action" down-file-type="xlsx" down-file-name="爵位战{{mstatdate}}" savedata="" postdata="searchData" ></div>
			<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh" style="width:12%" ng-click="changeOrderBy(panel_4.dataList_1,'statdate')">
							<strong title="">{{'日期' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:11%" ng-click="changeOrderBy(panel_4.dataList_1,'channelName')">
							<strong title="">{{'渠道' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:11%" ng-click="changeOrderBy(panel_4.dataList_1,'syName')">
							<strong title="">{{'圣域名称' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:11%" ng-click="changeOrderBy(panel_4.dataList_1,'startCnt')">
							<strong title="">{{'开启战斗数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:11%" ng-click="changeOrderBy(panel_4.dataList_1,'avgTime}')">
							<strong title="">{{'平均战斗用时' | translate}}(s)</strong>
						</span>
						<span class="tableListTh" style="width:11%" ng-click="changeOrderBy(panel_4.dataList_1,'userCnt')">
							<strong title="">{{'参与玩家数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:11%" ng-click="changeOrderBy(panel_4.dataList_1,'usuccCnt')">
							<strong title="">{{'胜利人次' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:11%" ng-click="changeOrderBy(panel_4.dataList_1,'ufailCnt')">
							<strong title="">{{'失败人次' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:11%" ng-click="changeOrderBy(panel_4.dataList_1,'uexitCnt')">
							<strong title="">{{'平局' | translate}}</strong>
						</span>
					</li>
					
					<li class="tableListLi clear" ng-repeat="data in panel_4.dataList_1.data | orderBy: panel_4.dataList_1.orderBy.t+panel_4.dataList_1.orderBy.s | pageStartFrom : panel_4.dataList_1.limit.now*panel_4.dataList_1.limit.max | limitTo: panel_4.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd" style="width:12%" >
								{{data.statdate}}
							</span>
							<span class="channelTd" style="width:11%">
								{{data.channelName}}
							</span>
							<span class="channelTd" style="width:11%">
								{{data.syName}}
							</span>
							<span class="channelTd" style="width:11%">
								{{data.startCnt}}
							</span>
							<span class="channelTd" style="width:11%">
								{{data.avgTime}}
							</span>
							<span class="channelTd" style="width:11%">
								{{data.userCnt}}
							</span>
							<span class="channelTd" style="width:11%">
								{{data.usuccCnt}}
							</span>
							<span class="channelTd" style="width:11%">
								{{data.ufailCnt}}
							</span>
							<span class="channelTd" style="width:11%">
								{{data.uexitCnt}}
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype4()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetype4(10)">10</li>
									<li ng-click="c('20');changetype4(20)">20</li>
									<li ng-click="c('50');changetype4(50)">50</li>
									<li ng-click="c('100');changetype4(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_4.dataList_1.limit"  tabledata="panel_4.dataList_1.data"  datachange="panel_4_change"></div>
				</div>
			</div>
		</div>
	</div>
	<!--  猎魔记事-->
	<div class="panel panel-default panel_5">
			<div class="panel-heading">
			<strong>{{'猎魔记事' | translate}}</strong>
			<div class="panel_downloadBtn"  down-file down-file-url="summary/exportSyLieMoList.action" down-file-type="xlsx" down-file-name="猎魔记事{{mstatdate}}" savedata="" postdata="searchData" ></div>
			<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'statdate')">
							<strong title="">{{'日期' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'channelName')">
							<strong title="">{{'渠道' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'syName')">
							<strong title="">{{'圣域名称' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'startCnt')">
							<strong title="">{{'开启次数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'startUserCnt')">
							<strong title="">{{'开启人数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'avgStartTimes')">
							<strong title="">{{'人均开启次数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'succtCnt')">
							<strong title="">{{'完成次数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'avgTime')">
							<strong title="">{{'完成平均用时' | translate}}(s)</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'robCnt')">
							<strong title="">{{'掠夺次数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:10%" ng-click="changeOrderBy(panel_5.dataList_1,'succrobCnt')">
							<strong title="">{{'成功掠夺次数' | translate}}</strong>
						</span>
					</li>
					
					<li class="tableListLi clear" ng-repeat="data in panel_5.dataList_1.data | orderBy: panel_5.dataList_1.orderBy.t+panel_5.dataList_1.orderBy.s | pageStartFrom : panel_5.dataList_1.limit.now*panel_5.dataList_1.limit.max | limitTo: panel_5.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd" style="width:10%" >
								{{data.statdate}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.channelName}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.syName}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.startCnt}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.startUserCnt}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.avgStartTimes}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.succtCnt}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.avgTime}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.robCnt}}
							</span>
							<span class="channelTd" style="width:10%">
								{{data.succrobCnt}}
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype5()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetype5(10)">10</li>
									<li ng-click="c('20');changetype5(20)">20</li>
									<li ng-click="c('50');changetype5(50)">50</li>
									<li ng-click="c('100');changetype5(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_5.dataList_1.limit"  tabledata="panel_5.dataList_1.data"  datachange="panel_5_change"></div>
				</div>
			</div>
		</div>
	</div>
	<!--  魔神降临-->
	<div class="panel panel-default panel_6">
			<div class="panel-heading">
			<strong>{{'魔神降临' | translate}}</strong>
			<div class="panel_downloadBtn"  down-file down-file-url="summary/exportSyMoShenList.action" down-file-type="xlsx" down-file-name="魔神降临{{mstatdate}}" savedata="" postdata="searchData" ></div>
			<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh" style="width:16%" ng-click="changeOrderBy(panel_6.dataList_1,'statdate')">
							<strong title="">{{'日期' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:14%" ng-click="changeOrderBy(panel_6.dataList_1,'areaid')">
							<strong title="">{{'区服' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:14%" ng-click="changeOrderBy(panel_6.dataList_1,'syName')">
							<strong title="">{{'圣域名称' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:14%" ng-click="changeOrderBy(panel_6.dataList_1,'userCnt')">
							<strong title="">{{'参与玩家数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:14%" ng-click="changeOrderBy(panel_6.dataList_1,'avgTime')">
							<strong title="">{{'击杀平均用时' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:14%" ng-click="changeOrderBy(panel_6.dataList_1,'reliveCnt')">
							<strong title="">{{'付费复活总次数' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:14%" ng-click="changeOrderBy(panel_6.dataList_1,'killCnt')">
							<strong title="">{{'BOSS击杀玩家人次' | translate}}</strong>
						</span>
					</li>
					
					<li class="tableListLi clear" ng-repeat="data in panel_6.dataList_1.data | orderBy: panel_5.dataList_1.orderBy.t+panel_5.dataList_1.orderBy.s | pageStartFrom : panel_6.dataList_1.limit.now*panel_6.dataList_1.limit.max | limitTo: panel_6.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd" style="width:16%" >
								{{data.statdate}}
							</span>
							<span class="channelTd" style="width:14%">
								{{data.areaid}}
							</span>
							<span class="channelTd" style="width:14%">
								{{data.syName}}
							</span>
							<span class="channelTd" style="width:14%">
								{{data.userCnt}}
							</span>
							<span class="channelTd" style="width:14%">
								{{data.avgTime}}
							</span>
							<span class="channelTd" style="width:14%">
								{{data.reliveCnt}}
							</span>
							<span class="channelTd" style="width:14%">
								{{data.killCnt}}
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype6()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetype6(10)">10</li>
									<li ng-click="c('20');changetype6(20)">20</li>
									<li ng-click="c('50');changetype6(50)">50</li>
									<li ng-click="c('100');changetype6(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_6.dataList_1.limit"  tabledata="panel_6.dataList_1.data"  datachange="panel_6_change"></div>
				</div>
			</div>
		</div>
	</div>
	
</div>