<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.good.plat.datacenter.datastat.mapper.buyplat.TBLogplatMlchnlActlvlStatMapper" >
  <resultMap id="BaseResultMap" type="com.good.plat.datacenter.datastat.entity.buyplat.TBLogplatMlchnlActlvlStat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="statdate" property="statdate" jdbcType="DATE" />
    <result column="gameid" property="gameid" jdbcType="INTEGER" />
    <result column="termtype" property="termtype" jdbcType="INTEGER" />
    <result column="adchannel" property="adchannel" jdbcType="INTEGER" />
    <result column="subchannel" property="subchannel" jdbcType="INTEGER" />
    <result column="actlvl" property="actlvl" jdbcType="INTEGER" />
    <result column="usercount" property="usercount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, statdate, gameid, termtype, adchannel, subchannel, actlvl, usercount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_logplat_mlchnl_actlvl_stat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_logplat_mlchnl_actlvl_stat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.good.plat.datacenter.datastat.entity.buyplat.TBLogplatMlchnlActlvlStat" >
    insert into tb_logplat_mlchnl_actlvl_stat (id, statdate, gameid, 
      termtype, adchannel, subchannel, 
      actlvl, usercount)
    values (#{id,jdbcType=INTEGER}, #{statdate,jdbcType=DATE}, #{gameid,jdbcType=INTEGER}, 
      #{termtype,jdbcType=INTEGER}, #{adchannel,jdbcType=INTEGER}, #{subchannel,jdbcType=INTEGER}, 
      #{actlvl,jdbcType=INTEGER}, #{usercount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.good.plat.datacenter.datastat.entity.buyplat.TBLogplatMlchnlActlvlStat" >
    insert into tb_logplat_mlchnl_actlvl_stat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="statdate != null" >
        statdate,
      </if>
      <if test="gameid != null" >
        gameid,
      </if>
      <if test="termtype != null" >
        termtype,
      </if>
      <if test="adchannel != null" >
        adchannel,
      </if>
      <if test="subchannel != null" >
        subchannel,
      </if>
      <if test="actlvl != null" >
        actlvl,
      </if>
      <if test="usercount != null" >
        usercount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statdate != null" >
        #{statdate,jdbcType=DATE},
      </if>
      <if test="gameid != null" >
        #{gameid,jdbcType=INTEGER},
      </if>
      <if test="termtype != null" >
        #{termtype,jdbcType=INTEGER},
      </if>
      <if test="adchannel != null" >
        #{adchannel,jdbcType=INTEGER},
      </if>
      <if test="subchannel != null" >
        #{subchannel,jdbcType=INTEGER},
      </if>
      <if test="actlvl != null" >
        #{actlvl,jdbcType=INTEGER},
      </if>
      <if test="usercount != null" >
        #{usercount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.good.plat.datacenter.datastat.entity.buyplat.TBLogplatMlchnlActlvlStat" >
    update tb_logplat_mlchnl_actlvl_stat
    <set >
      <if test="statdate != null" >
        statdate = #{statdate,jdbcType=DATE},
      </if>
      <if test="gameid != null" >
        gameid = #{gameid,jdbcType=INTEGER},
      </if>
      <if test="termtype != null" >
        termtype = #{termtype,jdbcType=INTEGER},
      </if>
      <if test="adchannel != null" >
        adchannel = #{adchannel,jdbcType=INTEGER},
      </if>
      <if test="subchannel != null" >
        subchannel = #{subchannel,jdbcType=INTEGER},
      </if>
      <if test="actlvl != null" >
        actlvl = #{actlvl,jdbcType=INTEGER},
      </if>
      <if test="usercount != null" >
        usercount = #{usercount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.good.plat.datacenter.datastat.entity.buyplat.TBLogplatMlchnlActlvlStat" >
    update tb_logplat_mlchnl_actlvl_stat
    set statdate = #{statdate,jdbcType=DATE},
      gameid = #{gameid,jdbcType=INTEGER},
      termtype = #{termtype,jdbcType=INTEGER},
      adchannel = #{adchannel,jdbcType=INTEGER},
      subchannel = #{subchannel,jdbcType=INTEGER},
      actlvl = #{actlvl,jdbcType=INTEGER},
      usercount = #{usercount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>