<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.good.plat.datacenter.independ.mapper.sj3index.AltarMapper">
	<resultMap id="BaseResultMap" type="com.good.plat.datacenter.independ.entity.sj3index.Altar">
		<result column="statdate" property="statdate"/>
		<result column="areaid" property="areaid"/>
		<result column="areaName" property="areaName"/>
		<result column="channelid" property="channelid"/>
		<result column="channelName" property="channelName"/>
		<result column="country" property="country"/>
		<result column="curtype" property="curtype"/>
		<result column="singleExtractTimes" property="singleExtractTimes"/>
		<result column="tenExtractTimes" property="tenExtractTimes"/>
		<result column="singleExtractCost" property="singleExtractCost"/>
		<result column="tenExtractCost" property="tenExtractCost"/>
	</resultMap>
		<sql id="ABaseSelect">
			where a.statdate between #{startdate} and #{enddate} 
			and a.gameid=#{gameid}
			<if test="areas != null">
				and a.areaid in
				<foreach collection="areas" item="area" index="index" open="(" close=")" separator=",">
					#{area}
				</foreach>
			</if>
			<if test="channelList != null">
				and a.channel in
				<foreach collection="channelList" item="channel" index="index" open="(" close=")" separator=",">
					#{channel.id}
				</foreach>
			</if>
			<if test="subchannels != null">
				and a.chnnnl in
				<foreach collection="subchannels" item="subchannel" index="index" open="(" close=")" separator=",">
					#{subchannel}
				</foreach>
			</if>
		</sql>
	
	<!--
	祭坛(日期,区服,渠道,单抽次数,十连抽次数，单抽物品数量，十连抽物品数量)
	-->
	<select id="selectAltarList" resultMap="BaseResultMap" 
		parameterType="com.good.plat.datacenter.common.base.IndependBaseSearchData">
		SELECT
			a.statdate,
			a.areaid,
			IF(c.`name` IS NULL,CONCAT('未知区服: ',a.areaid),c.`name`) as areaName,
			a.channel as channelid,
			IF(b.channelSimName is NULL,CONCAT('未知渠道： ',a.channel),b.channelSimName) as channelName,
			a.curtype,
			SUM(IF(a.extract=1,a.times,0)) as singleExtractTimes,
			SUM(IF(a.extract=2,a.times,0)) as tenExtractTimes,
			SUM(IF(a.extract=1,a.count,0)) as singleExtractCost,
			SUM(IF(a.extract=2,a.count,0)) as tenExtractCost
		FROM
			sj3_altar_stat a
		LEFT JOIN tb_logplat_channel b ON b.id = a.channel
		LEFT JOIN tb_logplat_gamearea c ON c.areaid = a.areaid
		AND c.gameid = a.gameid
		<include refid="ABaseSelect"/>
		GROUP BY
		a.statdate,
		a.areaid,
		a.channel,
		a.curtype;
	</select>
	
</mapper>