<div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-default panel_1">
        <div class="panel-heading">
            <strong>
                 {{title}}{{'扣量管理' | translate}}
                <!--------提示框--------- -->
            </strong>
            <!--------下载按钮--------- -->
            <div class="clear"></div>
        </div>
        <div class="panel-body pdlf pdtb">
            <div class="col-xs-10 col-xs-offset-1 form-horizontal" style="padding:50px 0;">
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'开始时间' | translate}}:</label>
                    <select class="form-control"  style="" ng-change="addDay()"  ng-model="amountListData.timeStartDate.year"  ng-options="abc for  abc in timeStartData.year">
                    </select>{{'年' | translate}}
                    <select class="form-control"  style="" ng-model="amountListData.timeStartDate.month"  ng-change="addDay()"  ng-options="abc for abc in timeStartData.month">
                    </select>{{'月' | translate}}
                    <select class="form-control"  style="" ng-model="amountListData.timeStartDate.day" ng-options="abc for abc in timeStartData.day">
                    </select>{{'日' | translate}}
                    <select class="form-control"  style="" ng-model="amountListData.timeStartDate.hour" ng-options="abc for abc in timeStartData.hour">
                    </select>{{'时' | translate}}
                    <select class="form-control"  style="" ng-model="amountListData.timeStartDate.minute" ng-options="abc for abc in timeStartData.minute">
                    </select>{{'分' | translate}}
                    <select class="form-control" style="" ng-model="amountListData.timeStartDate.second" ng-options="abc for abc in timeStartData.second">
                    </select>{{'秒' | translate}}
                </div>
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'结束时间' | translate}}:</label>
                    <select class="form-control"  style="" ng-change="addDay()"  ng-model="amountListData.timeEndDate.year"  ng-options="abc for  abc in timeEndData.year">
                    </select>{{'年' | translate}}
                    <select class="form-control"  style="" ng-model="amountListData.timeEndDate.month"  ng-change="addDay()"  ng-options="abc for abc in timeEndData.month">
                    </select>{{'月' | translate}}
                    <select class="form-control"  style="" ng-model="amountListData.timeEndDate.day" ng-options="abc for abc in timeEndData.day">
                    </select>{{'日' | translate}}
                    <select class="form-control"  style="" ng-model="amountListData.timeEndDate.hour" ng-options="abc for abc in timeEndData.hour">
                    </select>{{'时' | translate}}
                    <select class="form-control"  style="" ng-model="amountListData.timeEndDate.minute" ng-options="abc for abc in timeEndData.minute">
                    </select>{{'分' | translate}}
                    <select class="form-control" style="" ng-model="amountListData.timeEndDate.second" ng-options="abc for abc in timeEndData.second">
                    </select>{{'秒' | translate}}
                </div>
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'游戏' | translate}}:</label>
                    <select class="form-control" style="width:200px;" ng-model="amountListData.gameid" ng-options="m.id as m.name for m in gameList">
                        
                    </select>
                </div>
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'终端' | translate}}:</label>
                    <select class="form-control" style="width:200px;" ng-model="amountListData.termType" ng-options="m.id as m.name for m in terminalList">
                        
                    </select>   
                </div>
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'渠道名称' | translate}}:</label>
                    <!-- <select class="form-control" style="" ng-model="amountListData.channel" ng-options="m.id as m.channelName for m in channelList">
                        
                    </select> --> 
                    <input type="text" class="form-control" style="width:200px;"  placeholder="" ng-model="amountListData.channelName">
                </div>
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'渠道主' | translate}}ID:</label>
                    <input type="text" class="form-control" style="width:200px;"  placeholder="" ng-model="amountListData.adchannel">
                </div> 
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'原始注册数' | translate}}:</label>
                    <input type="text" class="form-control" style="width:200px;"  placeholder="" ng-model="amountListData.regCount">
                </div>
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'扣量比例' | translate}}:</label>
                    <input type="text" class="form-control" style="width:200px;"  placeholder="" ng-model="amountListData.buckleRate">
                </div>
                <div class="form-group">                    
                    <label for=""  class="col-sm-2 text-right control-label">{{'合作方式' | translate}}:</label>
                    <select class="form-control" style="width:200px;" ng-model="amountListData.cooperationType" ng-options="m.id as m.name for m in cooperationList">
                        
                    </select>                 
                </div>       
                <div class="form-group">
                    <div class="col-xs-offset-2">
                    <button class="btn btn-default btn-sm" ng-click="postData()">{{'保存' | translate}}</button>
                    <button class="btn btn-default btn-sm" ng-click="backGo()">{{'返回' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>