<style type="text/css">
    .table th,.table td{ border:1px solid #ddd; padding-left: 0; padding-right: 0;}
    .form-group{ margin-left: 10px; margin-top: 10px;}
    .form-control{ display: inline-block; vertical-align: middle;}
</style>
<div>
    <div>
        <div class="form-group">
            <div class="div_select">
                
            </div>
            <label for="">{{'时间区域' | translate}}：</label>
            <div datepicker class="col-xs-3 timeSelect" mstatdate="mstatdate" style="width:250px;"></div>
            <label for="">{{'游戏' | translate}}：</label>
            <select ng-model="postData.gameid" class="form-control" ng-options="abc.id as abc.name for abc in panel_1.gameList">

            </select>&nbsp;&nbsp;
            <label for="">{{'渠道' | translate}}：</label>
            <select ng-model="postData.channelid" class="form-control" ng-options="abc.id as abc.channelName for abc in panel_1.channelList">

            </select>&nbsp;&nbsp;
            <label for="">{{'终端' | translate}}：</label>
            <select ng-model="postData.terminalid" class="form-control" ng-options="abc.id as abc.name for abc in terminalList">
                
            </select>&nbsp;&nbsp;
            <button class="btn btn-default" ng-click="mdownloaddata('avgGameTime')">{{'导出' | translate}}</button>
            <button class="btn btn-default" ng-click="searchData()">{{'搜索' | translate}}</button>
        </div>
        </div>
    <div class="panel panel-default panel_1">
        <div class="panel-heading">
            <strong>
                 {{'注册时间段' | translate}}
                <!--------提示框--------- -->
            </strong>
            <div class="panel_downloadBtn" ng-click="mdownloaddata('avgGameTime')"></div>
            <!--------下载按钮--------- -->
            <div class="clear"></div>
        </div>
        
        <div class="panel-body pdlf pdtb">
            <div class="tableBox">
                <table class="table table-striped">
                    <tr>
                        <th class="text-center" width="3.44%">{{'日期' | translate}}</th>
                        <th class="text-center" width="3.44%">{{'游戏名称' | translate}}</th>
                        <th class="text-center" width="3.44%">{{'终端' | translate}}</th>
                        <th class="text-center" width="3.44%">{{'渠道名称' | translate}}</th>
                        <th class="text-center" width="3.44%">{{'渠道' | translate}}ID</th>
                        <th class="text-center" width="3.44%">0{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">1{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">2{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">3{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">4{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">5{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">6{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">7{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">8{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">9{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">10{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">11{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">12{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">13{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">14{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">15{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">16{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">17{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">18{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">19{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">20{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">21{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">22{{'时' | translate}}</th>
                        <th class="text-center" width="3.44%">23{{'时' | translate}}</th>
                    </tr>
                    <tr ng-repeat="data in panel_1.dataList_1.data | filter:searchData.gameList | filter:searchData.channelList | filter:searchData.terminalList |orderBy: panel_1.dataList_1.orderBy.t+panel_1.dataList_1.orderBy.s | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max" class="text-center">
                        <td>{{data.startDataTxt}}</td>
                        <td>{{data.gameName}}</td>
                        <td>{{data.termtypeName}}</td>
                        <td>{{data.channelName}}</td>
                        <td>{{data.adchannel}} {{data.subchannel}}</td>
                        <td>{{data.hour_0}}</td>
                        <td>{{data.hour_1}}</td>
                        <td>{{data.hour_2}}</td>
                        <td>{{data.hour_3}}</td>
                        <td>{{data.hour_4}}</td>
                        <td>{{data.hour_5}}</td>
                        <td>{{data.hour_6}}</td>
                        <td>{{data.hour_7}}</td>
                        <td>{{data.hour_8}}</td>
                        <td>{{data.hour_9}}</td>
                        <td>{{data.hour_10}}</td>
                        <td>{{data.hour_11}}</td>
                        <td>{{data.hour_12}}</td>
                        <td>{{data.hour_13}}</td>
                        <td>{{data.hour_14}}</td>
                        <td>{{data.hour_15}}</td>
                        <td>{{data.hour_16}}</td>
                        <td>{{data.hour_17}}</td>
                        <td>{{data.hour_18}}</td>
                        <td>{{data.hour_19}}</td>
                        <td>{{data.hour_20}}</td>
                        <td>{{data.hour_21}}</td>
                        <td>{{data.hour_22}}</td>
                        <td>{{data.hour_23}}</td>
                    </tr>
                </table>
                <div class="tableFooter">
                    <div class="buttondiv fl" analysisdrop changei="changetype()">
                        <div class="selectlable fl">{{'每页显示' | translate}}：</div>
                        <div class="analysisdrop fl" style="width:60px;">
                            <div class="hadchoose">
                                <h6>{{val | translate}}</h6></div>
                            <ul class="dropUl">
                                <li ng-click="c('10');changetype(10)">10</li>
                                <li ng-click="c('20');changetype(20)">20</li>
                                <li ng-click="c('50');changetype(50)">50</li>
                                <li ng-click="c('100');changetype(100)">100</li>
                            </ul>
                        </div>
                        <div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
                    </div>
                    <div class="dataTables_paginate fr" datatableslimit  datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data"></div>
                </div>
            </div>
        </div>
    </div>
</div>