<style>
 .form-group{ margin-left: 10px; margin-top: 10px;}
   .form-control{ display: inline-block; vertical-align: middle;}
   .form-group .form-member{
    float: left;
    }
    .form-group .member-control{
   	margin-left: 10px;
    }
.panel-showData .table_scroll{
overflow-x:auto;
height:100%;
}
.panel-showData .table_style{
width:1642px;
}
.toggle-btn {
	font-size: 14px;
	color: #63666d;
	margin-left: 10px;
	cursor: pointer;
}
</style>
<div>
	<div>
	        <div class="form-group">
	            <label for="">{{'渠道' | translate}}：</label>
	            <select ng-model="postData.channelid" class="form-control" ng-options="data.id as data.channelSimName for data in channelList" >
	            </select>
	            &nbsp;&nbsp;&nbsp;&nbsp;
	            <label for="">{{'服务器' | translate}}：</label>
	            <select ng-model="postData.areaid" class="form-control" ng-options="data.id as data.name for data in gameAreaList">
	            </select>
	        </div>
			<div class="form-group">
				<div class="form-member">
					<label for="startDate">{{'起始日期' | translate}}: </label>
					<input type="text" id="startDate" class="form-control" placeholder="{{o.startDate}}" uib-datepicker-popup="{{format}}" ng-model="o.startDate" is-open="o.opened1" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="o.opened1=!o.opened1" />
				</div>
				<div class="form-member member-control">
					<label for="endDate">{{'结束日期' | translate}}: </label>
					<input type="text" id="endDate" class="form-control" placeholder="{{o.endDate}}" uib-datepicker-popup="{{format}}" ng-model="o.endDate" is-open="o.opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="o.opened2=!o.opened2" />
				</div>
				&nbsp;&nbsp;
				<button class="btn btn-default" ng-click="getAllData()">{{'查询' | translate}}</button>
			</div>
	</div>
	<div class="clear"></div>
		<!--------tab选择按钮----------->
	<div class="panel panel-default panel_1">
			<div class="panel-heading">
			<strong>{{'即时在线' | translate}}</strong>
				<div class="panel_downloadBtn"  down-file down-file-url="hieOperate/exportTaskStatList.action" down-file-type="xlsx" down-file-name="任务打点" savedata="" postdata="postData" ></div>
				<div class="clear"></div>
			</div>
			<div class="panel-body pdlf pdtb">
			<div class="tableList tableListAct" >
				<ul class="tableListUl">
					<li class="tableListLi tableListLiTh clear">
						<span class="tableListTh" style="width:50%">
							<strong title="">{{'在线时间' | translate}}</strong>
						</span>
						<span class="tableListTh" style="width:50%">
							<strong title="">{{'在线人数' | translate}}</strong>
						</span>					
					</li>
					<li class="tableListLi clear" ng-repeat="data in panel_1.dataList_1.data | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max" ng-class="({'show_panel':data.show_panel})">
						<div class="channelTr clear">
							<span class="channelTd" style="width:50%" >
								{{data.statdate}}
							</span>
							<span class="channelTd" style="width:50%">
								{{data.count}}
							</span>
						</div>
				</li>
				</ul>
				<div class="tableFooter">
						<div class="buttondiv fl" analysisdrop changei="changetype()">
							<div class="selectlable fl">{{'每页显示' | translate}}：</div>
							<div class="analysisdrop fl" style="width:60px;">
								<div class="hadchoose">
									<h6>{{val | translate}}</h6></div>
								<ul class="dropUl">
									<li ng-click="c('10');changetype(10)">10</li>
									<li ng-click="c('20');changetype(20)">20</li>
									<li ng-click="c('50');changetype(50)">50</li>
									<li ng-click="c('100');changetype(100)">100</li>
								</ul>
							</div>
							<div class="selectlable fl">&nbsp;&nbsp;{{'条记录' | translate}}</div>
						</div>
						<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data"  datachange="panel_1_change"></div>
				</div>
			</div>
		</div>
	</div>
	
</div>
