<style>
.scroll_menu{
    height:430px;
    font-size:14px;
    overflow:auto;
}
</style>
<div>
	<div class="maintop">
		<div datepicker class="col-xs-3 timeSelect" mstatdate="mstatdate">
		</div>
		<label for="" style="font-size: 14px;">{{'区域' | translate}}：</label>
		<!-- <select multiple class="form-control" ng-model="cityArr" ng-options="data.city as data.city for data in cityData"></select> -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{cityText}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ng-class="{'scroll_menu': cityData.length>14}">
              <li>
                <div class="col-xs-offset-1">
                 <input name="city" type="checkbox" ng-click="clickAllSelect()" ng-checked="isSelectedAll()"> <label for="">{{'全部' | translate}}</label>
                 </div>
              </li>
                <li role="separator" class="divider"></li>
              <li ng-repeat="data in cityData">
                 <div class="col-xs-offset-1">
                  <input name="city" type="checkbox" ng-click="setCityList(data.city)" ng-checked="isSelected(data.id)"> <label for="">{{data.city}}</label>
                  </div>
              </li>
            </ul>
          </div>
          <button class="btn btn-default" ng-click="getAllData()">{{'查询' | translate}}</button>	
		<!--------日期选择控件----------->
		<div selectChoose class="selectChoose">
		</div>
		<!--------渠道区服选择控件----------->
		<div class="clear"></div>
		<div class="panel-selectChoose" callbackchannelqf ng-show="iscallback">
			<ul ng-show="ischannel" class="cl">
				<li>{{'渠道' | translate}}：</li>
				<li ng-repeat="channellist in callbackchannelqfdata.channellist">{{channellist}}</li>
			</ul>
			<ul ng-show="isqf"  class="cl">
				<li>{{'区服' | translate}}：</li>				
				<li ng-repeat="qflist in callbackchannelqfdata.qflist">{{qflist}}</li>
			</ul>
		</div>
		<!--------已选择渠道区服显示----------->
	</div>	
	<div class="panel panel-default panel_1">
			<div class="panel-heading">
				<strong>
					{{'付费转化' | translate}}
					<!--------提示框----------->
					<!-- <div class="exp-box">
						<em class="icon-exp">三角图标</em>
						<div class="noun-exp" style="width:300px;">							
						</div>
					</div> -->
				</strong>
				<div class="panel_downloadBtn"  down-file down-file-url="players/conversion/exportPayTransform.action" down-file-type="xlsx" down-file-name="付费转化{{mstatdate}}" savedata="" postdata="searchData" ></div>
				
				<!--------下载按钮----------->
				<div class="clear"></div>
			</div>
			<div class="panel-body" ng-class="{'table':panel_1.model=='table','graph':panel_1.model=='graph'}">	
			<!--------默认panel展示类型，表格tale或图表graph---------->
				<ul class="nav nav-tabs fl cl" navtabs>
				  <li role="presentation" class="active">
				  	<a href="javascript:void(0);">{{'新增付费玩家' | translate}}</a>
				  	<div tipsmsg>{{'新增付费玩家(角色)：当日首充付费玩家角色数' | translate}}<br>{{'新增付费玩家(账号)：当日首充付费玩家账号数' | translate}}<br/>{{'付费率:当日首充付费玩家账号/当日注册账号数' | translate}}</div>
				  </li>
				  <li role="presentation" ng-show="showTotalPayRate">
				  	<a href="javascript:void(0);">{{'累计付费玩家' | translate}}</a>
				  	<div tipsmsg>{{'截至当日，累计的充过值的玩家角色数' | translate}}</div>
				  </li>
				  <li role="presentation" ng-show="showTotalPayRate">
				  	<a href="javascript:void(0);">{{'总体付费率' | translate}}</a>
				  	<div tipsmsg>{{'总体付费率(角色)：截至当日，累计付费玩家角色数占累计总玩家角色数的比例(累计付费角色/累计角色数)' | translate}}
				  	<br/>{{'总体付费率(账号)：截至当日，累计付费玩家账号数占累计总玩家账号数的比例(累计付费账号/累计总账号数)' | translate}}
					</div>
				  </li>
				</ul>
				<!--------选项卡----------->
				<div class="fl cl info" >
					<div class="infoact">
					SUM ：<font><em>{{panel_1.dataList_1.SUM}}</em></font>
					</div>
				</div>
				<!--------各选项卡数据展示----------->
				<div class="clear"></div>
				<div class="panel-showData">
					<div class="dataList dataList2 dataList_1">
						<div class="dataGraph">
							<div class="graph" data="dataList_1_1_graph"></div>	
							<!--------图表div，data为graphfun的key----------->	
<!--							<div class="compared" compared mstatdate="mstatdate" datalist="panel_1.dataList_1"  panelchange="panel_1_change" graphfun="getCompareData"></div>-->
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='25%' ng-click="changeOrderBy(panel_1.dataList_1,'statdate')">{{'日期' | translate}}</th>
									<th width='25%' ng-click="changeOrderBy(panel_1.dataList_1,'accounts')">{{'新增付费玩家(按角色)' | translate}}</th>
									<th width='25%' ng-click="changeOrderBy(panel_1.dataList_1,'newPayAccounts')">{{'新增付费玩家(按账号)' | translate}}</th>
									<th width='25%' ng-click="changeOrderBy(panel_1.dataList_1,'newPayAccountsRate')">{{'付费率(按账号)' | translate}}</th>
									
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_1.dataList_1.data | orderBy: panel_1.dataList_1.orderBy.t+panel_1.dataList_1.orderBy.s | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.accounts}}</td>
									<td>{{data.newPayAccounts}}</td>
									<td>{{data.newPayAccountsRate}}%</td>
								</tr>
								<tr ng-show="panel_1.dataList_1.showPane1Total">
									<td>总计</td>
									<td>{{panel_1.dataList_1.SUM}}</td>
									<td>{{panel_1.dataList_1.totalNewPayAccount}}</td>
									<td>{{panel_1.dataList_1.totalnewPayAccountsRate}}%</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>
						<div class="dataList dataList2 dataList_2">
						<div class="dataGraph">
							<div class="graph" data="dataList_1_2_graph"></div>	
							<!--------图表div，data为graphfun的key----------->
							
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_2,'statdate')">{{'日期' | translate}}</th>
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_2,'accounts')">{{'累计付费玩家(角色)' | translate}}</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_1.dataList_2.data | orderBy: panel_1.dataList_2.orderBy.t+panel_1.dataList_2.orderBy.s | pageStartFrom : panel_1.dataList_2.limit.now*panel_1.dataList_2.limit.max | limitTo: panel_1.dataList_2.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.accounts}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_2.limit"  tabledata="panel_1.dataList_2.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>	
						<div class="dataList dataList2 dataList_3">
						<div class="dataGraph">
							<div class="graph" data="dataList_1_3_graph"></div>	
							<!--------图表div，data为graphfun的key----------->
							
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='33.3%' ng-click="changeOrderBy(panel_1.dataList_3,'statdate')">{{'日期' | translate}}</th>
									<th width='33.3%' ng-click="changeOrderBy(panel_1.dataList_3,'accounts')">{{'总体付费率(角色)' | translate}}(%)</th>
									<th width='33.3%' ng-click="changeOrderBy(panel_1.dataList_3,'payRate')">{{'总体付费率(账号)' | translate}}(%)</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_1.dataList_3.data | orderBy: panel_1.dataList_3.orderBy.t+panel_1.dataList_3.orderBy.s | pageStartFrom : panel_1.dataList_3.limit.now*panel_1.dataList_3.limit.max | limitTo: panel_1.dataList_3.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.rate}}%</td>
									<td>{{data.payRate}}%</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_3.limit"  tabledata="panel_1.dataList_3.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>					
				</div>
				<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_1_change"  datalimit="0" model="panel_1.model">
				</div>
				<!-------------图表表格切换，graphfun ----datachange(需要分页时删除不填)------------->
			</div>
	</div>
	<div class="panel panel-default panel_2">
			<div class="panel-heading">
				<strong>
					{{'付费转化' | translate}}
					<div class="exp-box">
						<em class="icon-exp">{{'三角图标' | translate}}</em>
						<div class="noun-exp" style="width:300px;">							
						</div>
					</div>
					<!--------提示框----------->
				</strong>
				<div class="panel_downloadBtn"  down-file down-file-url="players/conversion/exportPayTransformRate.action" down-file-type="xlsx" down-file-name="付费转化率{{mstatdate}}" savedata="" postdata="searchData" ></div>
				<!--------下载按钮----------->
				<div class="clear"></div>
			</div>
			<div class="panel-body" ng-class="{'table':panel_2.model=='table','graph':panel_2.model=='graph'}">	
			<!--------默认panel展示类型，表格tale或图表graph---------->
				<ul class="nav nav-tabs fl cl" navtabs>
				  <li role="presentation" class="active">
				  	<a href="javascript:void(0);">{{'首日付费率' | translate}}</a>
				  	<div tipsmsg>{{'所选时期的新增角色中，在新增当日即进行充值的玩家角色数和其占比(首日付费玩家角色数/当日新增玩家角色数)' | translate}}</div>
				  </li>
				  <li role="presentation">
				  	<a href="javascript:void(0);">{{'首周付费率' | translate}}</a>
				  	<div tipsmsg>{{'所选时期的新增角色中，在新增后的7日内进行了充值的玩家角色数和其占比(7日内首日付费的玩家角色数/7日内新增玩家角色数)' | translate}}</div>
				  </li>
				  <li role="presentation">
				  	<a href="javascript:void(0);">{{'首月付费率' | translate}}</a>
				  	<div tipsmsg>{{'所选时期的新增玩家角色中，在新增后的30日内进行了充值的玩家角色数和其占比(30日内首日付费的玩家角色数/30日内新增玩家角色数)' | translate}}</div>
				  </li>
				</ul>
				<!--------选项卡----------->
				<div class="fl cl info" >
					<div class="infoact">
					</div>
				</div>
				<!--------各选项卡数据展示----------->
				<div class="clear"></div>
				<div class="panel-showData">
					<div class="dataList dataList2 dataList_1">
						<div class="dataGraph">
							<div class="graph" data="dataList_2_1_graph"></div>	
							<!--------图表div，data为graphfun的key----------->	
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_1,'statdate')">{{'日期' | translate}}</th>
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_1,'accounts')">{{'首日付费玩家数(角色)' | translate}}</th>
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_1,'rate')">{{'首日付费率(角色)' | translate}}</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_2.dataList_1.data | orderBy: panel_2.dataList_1.orderBy.t+panel_2.dataList_1.orderBy.s | pageStartFrom : panel_2.dataList_1.limit.now*panel_2.dataList_1.limit.max | limitTo: panel_2.dataList_1.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.accounts}}</td>
									<td>{{data.rate}}%</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_2.dataList_1.limit"  tabledata="panel_2.dataList_1.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>
						<div class="dataList dataList2 dataList_2">
						<div class="dataGraph">
							<div class="graph" data="dataList_2_2_graph"></div>	
							<!--------图表div，data为graphfun的key----------->
							
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_2,'statdate')">{{'日期' | translate}}</th>
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_2,'accounts')">{{'首周付费玩家数(角色)' | translate}}</th>
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_2,'rate')">{{'首周付费率(角色)' | translate}}</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_2.dataList_2.data | orderBy: panel_2.dataList_2.orderBy.t+panel_2.dataList_2.orderBy.s | pageStartFrom : panel_2.dataList_2.limit.now*panel_2.dataList_2.limit.max | limitTo: panel_2.dataList_2.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.accounts}}</td>
									<td>{{data.rate}}%</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_2.dataList_2.limit"  tabledata="panel_2.dataList_2.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>	
						<div class="dataList dataList2 dataList_3">
						<div class="dataGraph">
							<div class="graph" data="dataList_2_3_graph"></div>	
							<!--------图表div，data为graphfun的key----------->
							
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_3,'statdate')">{{'日期' | translate}}</th>
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_3,'accounts')">{{'首月付费玩家数(角色)' | translate}}</th>
									<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_3,'rate')">{{'首月付费率(角色)' | translate}}</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_2.dataList_3.data | orderBy: panel_2.dataList_3.orderBy.t+panel_2.dataList_3.orderBy.s | pageStartFrom : panel_2.dataList_3.limit.now*panel_2.dataList_3.limit.max | limitTo: panel_2.dataList_3.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.accounts}}</td>
									<td>{{data.rate}}%</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_2.dataList_3.limit"  tabledata="panel_2.dataList_3.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>					
				</div>
				<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_2_change"  datalimit="0" model="panel_2.model">
				</div>
				<!-------------图表表格切换，graphfun ----datachange(需要分页时删除不填)------------->
			</div>
	</div>
	<div class="clear ">
		<div class="col-xs-6">			
				<div class="panel panel-default panel_3">
					<div class="panel-heading">
						<strong>
							{{'玩家首付周期' | translate}}
							<div class="exp-box">
								<em class="icon-exp">{{'三角图标' | translate}}</em>
								<div class="noun-exp" style="width:300px;">							
								</div>
							</div>
							<!--------提示框----------->
						</strong>
						<div class="panel_downloadBtn"  down-file down-file-url="players/conversion/exportFirstPayPeriod.action" down-file-type="xlsx" down-file-name="玩家首付周期{{mstatdate}}" savedata="" postdata="searchData" ></div>
						
						<!--------下载按钮----------->
						<div class="clear"></div>
					</div>
					<div class="panel-body" ng-class="{'table':panel_3.model=='table','graph':panel_3.model=='graph'}">	
					<!--------默认panel展示类型，表格tale或图表graph---------->
						<ul class="nav nav-tabs fl cl" navtabs>
						  <li role="presentation" class="active">
						  	<a href="javascript:void(0);">{{'游戏天数' | translate}}</a>
						  	<div tipsmsg>{{'所选时期内的新增付费玩家角色数，按照其已经玩游戏的天数（首付日期-新增日期）进行分布。' | translate}}</div>	
						  </li>
						 <!-- 网络版功能
						  <li role="presentation"><a href="javascript:void(0);">累计游戏时长</a></li>
						   -->
						</ul>
						<!--------选项卡----------->
						<div class="fl cl info hidden" >
							<div class="infoact ">
							AVG | MD ：<font><em>{{panel_3.dataList_1.AVG}}</em></font> | <font><em>{{panel_3.dataList_1.MD}}</em></font>
							</div>
							<div class="infoact">
							AVG | MD ：<font><em>{{panel_3.dataList_2.AVG}}</em></font> | <font><em>{{panel_3.dataList_2.MD}}</em></font>
							</div>
						</div>
						<!--------各选项卡数据展示----------->
						<div class="clear"></div>
						<div class="panel-showData ">
							<div class="dataList dataList2 dataList_1">
								<div class="dataGraph">
									<div class="graph" data="dataList_3_1_graph"></div>	
									<!--------图表div，data为graphfun的key----------->	
								</div>
								<div class="dataTable">
									<table class="table table-bordered text-center">
										<tr class="tableTr">
											<th width='33.33%' ng-click="changeOrderBy(panel_3.dataList_1,'title')">{{'游戏天数' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_3.dataList_1,'accounts')">{{'付费玩家(角色)' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_3.dataList_1,'percentage')">{{'百分比' | translate}}</th>
											<!--------表格th(数据对象，排序字段)----------->
										</tr>
										<tr ng-repeat="data in panel_3.dataList_1.data | orderBy: panel_3.dataList_1.orderBy.t+panel_3.dataList_1.orderBy.s | pageStartFrom : panel_3.dataList_1.limit.now*panel_3.dataList_1.limit.max | limitTo: panel_3.dataList_1.limit.max">
											<td>{{data.title}}</td>
											<td>{{data.accounts}}</td>
											<td>{{data.percentage}}%</td>
										</tr>
									</table>
									<div class="tableLimit" tablelimit datalimit="panel_3.dataList_1.limit"  tabledata="panel_3.dataList_1.data">							
									</div>
									<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
								</div>
							</div>
								<div class="dataList dataList2 dataList_2">
								<div class="dataGraph">
									<div class="graph" data="dataList_3_2_graph"></div>	
									<!--------图表div，data为graphfun的key----------->

								</div>
								<!-- 网络版功能，去掉hidden即可，单机没有， -->
								<div class="dataTable hidden">
									<table class="table table-bordered text-center">
										<tr class="tableTr">
											<th width='33.33%' ng-click="changeOrderBy(panel_3.dataList_2,'title')">{{'累计游戏时长' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_3.dataList_2,'accounts')">{{'付费玩家(角色)' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_3.dataList_2,'percentage')">{{'百分比' | translate}}</th>
											<!--------表格th(数据对象，排序字段)----------->
										</tr>
										<tr ng-repeat="data in panel_3.dataList_2.data | orderBy: panel_3.dataList_2.orderBy.t+panel_3.dataList_2.orderBy.s | pageStartFrom : panel_3.dataList_2.limit.now*panel_3.dataList_2.limit.max | limitTo: panel_3.dataList_2.limit.max">
											<td>{{data.title}}</td>
											<td>{{data.accounts}}</td>
											<td>{{data.percentage}}%</td>
										</tr>
									</table>
									<div class="tableLimit" tablelimit datalimit="panel_3.dataList_2.limit"  tabledata="panel_3.dataList_2.data">							
									</div>
									<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
								</div>
							</div>		
						</div>
						<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_3_change"  datalimit="0" model="panel_3.model">
						</div>
						<!-------------图表表格切换，graphfun ----datachange(需要分页时删除不填)------------->
					</div>
			</div>
		</div>
		<div class="col-xs-6">
				<div class="panel panel-default panel_4">
					<div class="panel-heading">
						<strong>
							{{'玩家首付等级' | translate}}
							<div tipsmsg>{{'所选时期内，玩家首次付费时的等级分布情况' | translate}}</div>
							
							<!--------提示框----------->
						</strong>
						<div class="panel_downloadBtn"  down-file down-file-url="players/conversion/exportFirstPayLevel.action" down-file-type="xlsx" down-file-name="玩家首付等级{{mstatdate}}" savedata="" postdata="searchData" ></div>
						<!--------下载按钮----------->
						<div class="clear"></div>
					</div>
					<div class="panel-body" ng-class="{'table':panel_4.model=='table','graph':panel_4.model=='graph'}">	
					<!--------默认panel展示类型，表格tale或图表graph---------->
						<div class="fl cl info hidden" >
							<div class="infoact">
							AVG | MD ：<font><em>{{panel_4.dataList_1.AVG}}</em></font> | <font><em>{{panel_4.dataList_1.MD}}</em></font>
							</div>
						</div>
						<!--------各选项卡数据展示----------->
						<div class="clear"></div>
						<div class="panel-showData">
							<div class="dataList dataList2 dataList_1 dataListAct">
								<div class="dataGraph">
									<div class="graph" data="dataList_4_1_graph"></div>	
									<!--------图表div，data为graphfun的key----------->	
								</div>
								<div class="dataTable">
									<table class="table table-bordered text-center">
										<tr class="tableTr">
											<th width='33.33%' ng-click="changeOrderBy(panel_4.dataList_1,'level')">{{'玩家首付等级' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_4.dataList_1,'accounts')">{{'付费玩家(角色)' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_4.dataList_1,'percentage')">{{'百分比' | translate}}</th>
											<!--------表格th(数据对象，排序字段)----------->
										</tr>
										<tr ng-repeat="data in panel_4.dataList_1.data | orderBy: panel_4.dataList_1.orderBy.t+panel_4.dataList_1.orderBy.s | pageStartFrom : panel_4.dataList_1.limit.now*panel_4.dataList_1.limit.max | limitTo: panel_4.dataList_1.limit.max">
											<td>{{data.level}}</td>
											<td>{{data.accounts}}</td>
											<td>{{data.percentage}}%</td>
										</tr>
									</table>
									<div class="tableLimit" tablelimit datalimit="panel_4.dataList_1.limit"  tabledata="panel_4.dataList_1.data">							
									</div>
									<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
								</div>
							</div>
						</div>
						<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_4_change"  datalimit="0" model="panel_4.model">
						</div>
						<!-------------图表表格切换，graphfun ----datachange(需要分页时删除不填)------------->
					</div>
			</div>			
		</div>
	</div>
	<!-- 网络版功能，单机没有 -->
	<div class="clear hidden">
		<div class="col-xs-6">
				<div class="panel panel-default panel_5">
					<div class="panel-heading">
						<strong>
							{{'玩家首付金额' | translate}}
							<div class="exp-box">
								<em class="icon-exp">{{'三角图标' | translate}}</em>
								<div class="noun-exp" style="width:300px;">							
								</div>
							</div>
							<!--------提示框----------->
						</strong>
						<div class="panel_downloadBtn" ng-click="mdownloaddata('avgGameTime')"></div>
						<!--------下载按钮----------->
						<div class="clear"></div>
					</div>
					<div class="panel-body" ng-class="{'table':panel_5.model=='table','graph':panel_5.model=='graph'}">	
					<!--------默认panel展示类型，表格tale或图表graph---------->
						<!--------各选项卡数据展示----------->
						<div class="clear"></div>
						<div class="panel-showData">
							<div class="dataList dataList2 dataList_1 dataListAct">
								<div class="dataGraph">
									<div class="graph" data="dataList_5_1_graph"></div>	
									<!--------图表div，data为graphfun的key----------->	
								</div>
								<div class="dataTable">
									<table class="table table-bordered text-center">
										<tr class="tableTr">
											<th width='33.33%' ng-click="changeOrderBy(panel_5.dataList_1,'amount')">{{'玩家首付金额' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_5.dataList_1,'accounts')">{{'付费玩家(账户)' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_5.dataList_1,'percentage')">{{'百分比' | translate}}</th>
											<!--------表格th(数据对象，排序字段)----------->
										</tr>
										<tr ng-repeat="data in panel_5.dataList_1.data | orderBy: panel_5.dataList_1.orderBy.t+panel_5.dataList_1.orderBy.s | pageStartFrom : panel_5.dataList_1.limit.now*panel_5.dataList_1.limit.max | limitTo: panel_5.dataList_1.limit.max">
											<td>{{data.amount}}</td>
											<td>{{data.accounts}}</td>
											<td>{{data.percentage}}%</td>
										</tr>
									</table>
									<div class="tableLimit" tablelimit datalimit="panel_5.dataList_1.limit"  tabledata="panel_5.dataList_1.data">							
									</div>
									<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
								</div>
							</div>
						</div>
						<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_5_change"  datalimit="0" model="panel_5.model">
						</div>
						<!-------------图表表格切换，graphfun ----datachange(需要分页时删除不填)------------->
					</div>
			</div>			
		</div>
		<div class="col-xs-6">
				<div class="panel panel-default panel_6">
					<div class="panel-heading">
						<strong>
							{{'首付充值包类型' | translate}}
							<div class="exp-box">
								<em class="icon-exp">{{'三角图标' | translate}}</em>
								<div class="noun-exp" style="width:300px;">							
								</div>
							</div>
							<!--------提示框----------->
						</strong>
						<div class="panel_downloadBtn" ng-click="mdownloaddata('avgGameTime')"></div>
						<!--------下载按钮----------->
						<div class="clear"></div>
					</div>
					<div class="panel-body" ng-class="{'table':panel_6.model=='table','graph':panel_6.model=='graph'}">	
					<!--------默认panel展示类型，表格tale或图表graph---------->
						<!--------各选项卡数据展示----------->
						<div class="clear"></div>
						<div class="panel-showData">
							<div class="dataList dataList2 dataList_1 dataListAct">
								<div class="dataGraph">
									<div class="graph" data="dataList_6_1_graph"></div>	
									<div class="graphLimit" graphLimit datalimit="panel_6.dataList_1.graphLimit" graphdata="panel_6.dataList_1.data"  graphfun="graphfun.dataList_6_1_graph" model="panel_6.model" isfist="false" key="{d:'accounts',y:'item',y2:'item'}">
							</div>
									<!--------图表div，data为graphfun的key----------->	
								</div>
								<div class="dataTable">
									<table class="table table-bordered text-center">
										<tr class="tableTr">
											<th width='33.33%' ng-click="changeOrderBy(panel_6.dataList_1,'item')">{{'首付充值包类型' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_6.dataList_1,'accounts')">{{'付费玩家(账户)' | translate}}</th>
											<th width='33.33%' ng-click="changeOrderBy(panel_6.dataList_1,'percentage')">{{'百分比' | translate}}</th>
											<!--------表格th(数据对象，排序字段)----------->
										</tr>
										<tr ng-repeat="data in panel_6.dataList_1.data | orderBy: panel_6.dataList_1.orderBy.t+panel_6.dataList_1.orderBy.s | pageStartFrom : panel_6.dataList_1.limit.now*panel_6.dataList_1.limit.max | limitTo: panel_6.dataList_1.limit.max">
											<td>{{data.item}}</td>
											<td>{{data.accounts}}</td>
											<td>{{data.percentage}}%</td>
										</tr>
									</table>
									<div class="tableLimit" tablelimit datalimit="panel_6.dataList_1.limit"  tabledata="panel_6.dataList_1.data">							
									</div>
									<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
								</div>
							</div>
						</div>
						<div class="panel-changeData" graphtbale  graphfun="graphfun"  datalimit="panel_6.dataList_1.graphLimit" model="panel_6.model">
						</div>
						<!-------------图表表格切换，graphfun ----datachange(需要分页时删除不填)------------->
					</div>
			</div>
		</div>
	</div>
	<!--
	首付行为
	-->
	<div class="panel panel-default panel_7">
			<div class="panel-heading">
				<strong>
					{{'首付行为' | translate}}
					<div tipsmsg></div>
				</strong>
				<div class="panel_downloadBtn"  down-file down-file-url="players/conversion/exportFirstPayBehavior.action" down-file-type="xlsx" down-file-name="首付行为{{mstatdate}}" savedata="" postdata="searchData" ></div>
				<!--------下载按钮----------->
				<div class="clear"></div>
			</div>
			<div class="panel-body" ng-class="{'table':panel_7.model=='table','graph':panel_7.model=='graph'}">	
			<!--------默认panel展示类型，表格tale或图表graph---------->
				<ul class="nav nav-tabs fl cl" navtabs>
				  <li role="presentation" class="active">
				  	<a href="javascript:void(0);">{{'首付金额' | translate}}</a>
				  	<div tipsmsg>{{'首付金额：用户首次在游戏内的付费金额额度' | translate}}</div>
				  </li>
				  <li role="presentation">
				  	<a href="javascript:void(0);">{{'首付等级分布' | translate}}</a>
				  	<div tipsmsg>{{'首付等级分布：用户新角色首次在游戏内付费的等级段分布' | translate}}</div>
				  </li>
				  <li role="presentation">
				  	<a href="javascript:void(0);">{{'首付方式' | translate}}</a>
				  	<div tipsmsg>{{'首付方式：用户首次付费的付款方式' | translate}}</div>
				  </li>
				</ul>
				<!--------各选项卡数据展示----------->
				<div class="clear"></div>
				<div class="panel-showData">
					<div class="dataList dataList2 dataList_1">
						<div class="dataGraph">
							<div class="graph" data="dataList_7_1_graph"></div>	
							<!--------图表div，data为graphfun的key----------->	
<!--							<div class="compared" compared mstatdate="mstatdate" datalist="panel_1.dataList_1"  panelchange="panel_1_change" graphfun="getCompareData"></div>-->
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'')">{{'额度' | translate}}</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'cnt0To5')">0-5</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'cnt5To10')">5.01-10</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'cnt10To20')">10.01-20</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'cnt20To30')">20.01-30</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'cnt30To40')">30.01-40</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'cnt40To50')">40.01-50</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'cnt50To100')">50.01-100</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_1,'cntHigh100')">100+</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_7.dataList_1.data | orderBy: panel_7.dataList_1.orderBy.t+panel_7.dataList_1.orderBy.s | pageStartFrom : panel_7.dataList_1.limit.now*panel_1.dataList_7.limit.max | limitTo: panel_7.dataList_1.limit.max">
									<td ng-if="data!=null">{{'首付玩家数(角色)' | translate}}</td>
									<td>{{data.cnt0To5}}</td>
									<td>{{data.cnt5To10}}</td>
									<td>{{data.cnt10To20}}</td>
									<td>{{data.cnt20To30}}</td>
									<td>{{data.cnt30To40}}</td>
									<td>{{data.cnt40To50}}</td>
									<td>{{data.cnt50To100}}</td>
									<td>{{data.cntHigh100}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_7.dataList_1.limit"  tabledata="panel_7.dataList_1.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>
						<div class="dataList dataList2 dataList_2">
						<div class="dataGraph">
							<div class="graph" data="dataList_7_2_graph"></div>	
							<!--------图表div，data为graphfun的key----------->
							
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'')">{{'首付等级' | translate}}</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'cntOfLevel1To10')">1-10</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'cntOfLevel11To20')">11-20</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'cntOfLevel21To30')">21-30</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'cntOfLevel31To40')">31-40</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'cntOfLevel41To50')">41-50</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'cntOfLevel51To60')">51-60</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'cntOfLevel61To70')">61-70</th>
									<th width='11%' ng-click="changeOrderBy(panel_7.dataList_2,'cntOfLevelHigh71')">71+</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_7.dataList_2.data | orderBy: panel_7.dataList_2.orderBy.t+panel_7.dataList_2.orderBy.s | pageStartFrom : panel_7.dataList_2.limit.now*panel_7.dataList_2.limit.max | limitTo: panel_7.dataList_2.limit.max">
									<td ng-if="data!=null">{{'首付玩家数(角色)' | translate}}</td>
									<td>{{data.cntOfLevel1To10}}</td>
									<td>{{data.cntOfLevel11To20}}</td>
									<td>{{data.cntOfLevel21To30}}</td>
									<td>{{data.cntOfLevel31To40}}</td>
									<td>{{data.cntOfLevel41To50}}</td>
									<td>{{data.cntOfLevel51To60}}</td>
									<td>{{data.cntOfLevel61To70}}</td>
									<td>{{data.cntOfLevelHigh71}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_7.dataList_2.limit"  tabledata="panel_7.dataList_2.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>	
						<div class="dataList dataList2 dataList_3">
						<div class="dataGraph">
							<div class="graph" data="dataList_7_3_graph"></div>	
							<!--------图表div，data为graphfun的key----------->
							
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='50%' ng-click="changeOrderBy(panel_7.dataList_3,'channelName')">{{'首付方式' | translate}}</th>
									<th width='50%' ng-click="changeOrderBy(panel_7.dataList_3,'accounts')">{{'首付玩家数(角色)' | translate}}</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_7.dataList_3.data | orderBy: panel_7.dataList_3.orderBy.t+panel_7.dataList_3.orderBy.s | pageStartFrom : panel_7.dataList_3.limit.now*panel_7.dataList_3.limit.max | limitTo: panel_7.dataList_3.limit.max">
									<td>{{data.channelName}}</td>
									<td>{{data.accounts}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_7.dataList_3.limit"  tabledata="panel_7.dataList_3.data">							
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>					
				</div>
				<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_7_change"  datalimit="0" model="panel_7.model">
				</div>
				<!-------------图表表格切换，graphfun ----datachange(需要分页时删除不填)------------->
			</div>
	</div>
</div>